.navber{
    background-image: linear-gradient(to right, #e66465, #9198e5);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6vw;
    text-align: left;
    padding: 15px;
}

.link{
    text-decoration: none;
    padding: 5px;
    color: aqua;
}
